.id-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.id-card-img {
    width: 100px;
    height: 100px;
}

.card-header {
    border-bottom: none;
}

.card-footer {
    border-top: none;
    background-color: #f8f9fc;
}
